/problematicas/Problema4/Problema4/nbproject/private/
/problematicas/Problema4/Problema4/build/
/problematicas/Problema1/Problema1/nbproject/private/
/problematicas/Problema1/Problema1/build/
/problematicas/Problema5/Problema5/nbproject/private/
/problematicas/Problema5/Problema5/build/
/problematicas/Problema3/Problema3/nbproject/private/
/problematicas/Problema3/Problema3/build/
/problematicas/Problema2/Problema2/nbproject/private/
/problematicas/Problema2/Problema2/build/
